body {background-color: greenyellow; 
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem 
    font-height 1.6rem;
}


:root {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-style: bold;
}

img{
    display: block;
    max-width: 30%;
    max-height: min-content;
}
.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
     border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    border-radius: 0.1em;
    }
    .shownav:before {
        content: '';
         position: absolute;
         width: 1.25em;
         top: 0.5em;
         left: 0px;
         border-top: 0.2em solid black;
        }
  
    
        
    

