body {background-color: greenyellow; 
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem 
    font-height 1.6rem;
}


:root {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-style: bold;
}

img{
    display: block;
    max-width: 30%;
    max-height: min-content;
}

.shownav {
    display: block;
    position: relative;
    
    }
    .shownav,
    .shownav::before,
    .shownav::after{
        background: black;
        width: 2em;
        height: 2px;    
        border-radius: 0.3em;
        transition:transform 250ms ease-in-out

    }
    .shownav::before,
    .shownav::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        border-top: 0.2em solid black;
    }
    .shownav::before {top: 6px;} 
    .shownav::after{bottom: 6px;}

        nav {
            display: block; 
            background-color: yellow;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0%;
            right: 0;
            z-index: 100;
            transform: translateX(100%);
            transition: transform 250ms cubic-bezier(.5, 0, .5, 1)

        }           
        header {
            display: flex;
            justify-content: space-between;
            padding: 1em;
        }
       
           nav ul {
               list-style: none;
               margin: 0;
               padding: 0;
           }
           a {
            color: blue;
            font-weight: bold;
            font-size: large;
            text-decoration: none;

            }
            a:hover {
            color: red;
            }


            li {
                list-style: none;
                height: 100%;
                justify-content:space-between;
                align-items: center;
        

            }